@model www.pstol.com.au.Models.ContactUsModel
@{
    ViewBag.Title = " - Galleries - Logo Design";
    
}
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Contact Us</h1>
        <ul class="pull-right breadcrumb">
            <li><span>Galleries</span></li>
            <li class="active">Contact Us</li>
        </ul>
    </div>
</div>
<!--=== End Breadcrumbs ===-->
<!--=== Content Part ===-->
<div class="container content">
    <div class="row margin-bottom-30">
        <div class="col-md-offset-2 col-md-8 mb-margin-bottom-30">
            <form action="/Contact-Us" method="post" id="sky-form3" class="sky-form sky-changes-3">
                <fieldset>
                    <div class="headline margin-bottom-45" style="text-align:center;">
                        <h2>Contact Form</h2>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label class="label">Name</label>
                            <label class="input">
                                <i class="icon-append fa fa-user"></i>
                                <input type="text" name="name" id="name" value="@Html.Raw(Model.Name)"/>
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label class="label">E-mail</label>
                            <label class="input">
                                <i class="icon-append fa fa-envelope-o"></i>
                                <input type="email" name="email" id="email" value="@Html.Raw(Model.Email)">
                            </label>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
                            <label class="label">Mobile</label>
                            <label class="input">
                                <i class="icon-append fa fa-mobile"></i>
                                <input type="text" name="mobile" id="mobile" value="@Html.Raw(Model.Mobile)">
                            </label>
                        </section>
                    </div>

                    <section>
                        <label class="label">Subject</label>
                        <label class="input">
                            <i class="icon-append fa fa-tag"></i>
                            <input type="text" name="subject" id="subject" value="@Html.Raw(Model.Subject)">
                        </label>
                    </section>

                    <section>
                        <label class="label">Message</label>
                        <label class="textarea">
                            <i class="icon-append fa fa-comment"></i>
                            <textarea rows="4" name="message" id="message">@Html.Raw(Model.Message)</textarea>
                        </label>
                    </section>

                    <div class="row">
                        <section class="col col-4">
                            <label class="label">Answer the question below:</label>
                            <img src="/Captcha/Show-Image/@Html.Raw(Model.GUID)" alt="Security" title="Security" width="150" height="50" />
                        </section>
                        <section class="col col-2">
                            <label class="label">&nbsp;</label>
                            <label class="input input-captcha">
                                <input type="text" maxlength="6" class="margin-top-15" name="captcha" id="captcha" value="@Html.Raw(Model.Captcha)" />
                                <input type="hidden" id="GUID" name="GUID" value="@Html.Raw(Model.GUID)" />
                            </label>
                        </section>
                    </div>


                    <section>
                        <label class="checkbox">
                            @if (Model.SendEmail)
                            {
                                <text>
                                    <input type="checkbox" checked name="copy" />
                                </text>
                            }
                            else
                            {
                                <text>
                                    <input type="checkbox" name="copy" />
                                </text>
                            }
                            <i></i>
                            Send a copy to my e-mail address
                        </label>
                    </section>
                </fieldset>

                <footer>
                    <button type="submit" class="btn-u">Send message</button>
                </footer>

                <div class="message">
                    <i class="rounded-x fa fa-check"></i>
                    <p>Your message was successfully sent!</p>
                </div>
            </form>
        </div><!--/col-md-9-->

        <div class="col-md-3">

        </div><!--/col-md-3-->
    </div><!--/row-->
</div><!--/container-->
<!--=== End Content Part ===-->
@section Css {
    <link href="~/Plugins/flexslider/flexslider.css" rel="stylesheet" />
    <link href="~/Plugins/parallax-slider/css/parallax-slider.css" rel="stylesheet" />
    <link href="~/Content/pages/page_contact.css" rel="stylesheet" />
    <link href="~/Plugins/sky-forms/version-2.0.1/css/custom-sky-forms.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/Plugins/flexslider/jquery.flexslider-min.js"></script>
    <script src="~/Plugins/parallax-slider/js/parallax-slider.js"></script>
    <script src="~/Plugins/parallax-slider/js/jquery.cslider.js"></script>
}